[Desktop Entry]
Name=XeroLinux Demo Info
Comment=Information about XeroLinux Demo ISOs
Exec=/usr/local/bin/demo
Icon=dialog-information
Terminal=false
Type=Application
Categories=System;
